@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  .bg-gray-100, select, .bg-gray-50 {
    background: var(--background)
  }
  .bg-white, .bg-gray-200 {
    background-color: #333;
  }
  body {
    background: var(--background);
    color: var(--foreground);
  }
}
*/

#editorjs h1, .ce-block__content h1 {
  @apply text-3xl font-bold mb-4;
}
#editorjs h2, .ce-block__content h2 {
  @apply text-2xl font-semibold mb-3;
}
#editorjs h3, .ce-block__content h3 {
  @apply text-xl font-medium mb-2;
}
#editorjs p, .ce-block__content p {
  @apply text-base mb-2;
}
